
body {
    background-color: black;
}
div.nome {
    font-family: "Dancing Script", sans-serif;
    font-weight: 500 px;
    text-shadow: 5px 5px 10px #faeff1;
    color: #faeff1;
    font-size: 40px;
    text-align: center;
    background-image: url(imagens/fundo2.jpg);
    background-size: 100%;
    background-position: 100% 80%;
    margin-top: 0px;
    padding: 25px;
}
.cabeçalho {
    margin: 35px;
    padding: 35px;
}
p, li {
    font-family: "Patua One", sans-serif;
    font-size: 20px;
    color: blanchedalmond;
}
.minha-foto {
    border-radius: 1%;
    float: left;
    max-width: 25%;
    padding: 15px;
    background-color: black;
    box-shadow: 0px 0px 10px  blanchedalmond;
}
.minha-foto:hover {
    transform: scale(1.2);
}
.texto-bruna {
    float: right; 
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    max-width: 50%;
    /* padding-left: 75px; */
}
.demais-conteudos {
    clear: both;
    display: flex;
    flex-wrap: wrap;
}
h2 {
    font-family: "Patua One", sans-serif;
    font-weight: 500;
    color: #ea526f;
    font-size: 35px;
}
.habilidade {
    font-style:italic;
}
.melhores-habilidades {
    font-weight: bold;
}
.indice {
    font-size: 25px;
}
.impar {
    list-style-type: circle;
}

.textos {
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    column-rule: 1px double #ccc;
}

.tecnicas {
    padding-left: 85px;
}

.parte-final {
    clear: both;
    margin-left: 45%;
    color: #ea526f
}

#rodape {
    text-align: center;
    color: #faeff1;
}
